<template>
 <div>
   <div  class="col-md-12" >
     <div  style="padding: 10px">
     
		<br/>
		<div v-for="f in employes" class="row">
		<div  >
			<div class="col-md-2">
				<img  class="card-img-top w-full" :src="store_lang.state.http+'/download-mini-picture-50/employes/'+f.photo" alt="Card image cap" width="50"/>
			</div>
			<div class="col-md-8"><h3>{{f.nom}} {{f.prenom}}</h3></div>
			<div class="col-md-2">
			<div v-else="sender==1" class="text-center">
				<post-loader></post-loader>
			</div>
			<div v-if="sender==0 || info.employe_id!=f.id" class="col-md-2">
			<a  class="btn btn-round btn-primary" @click="sendComment(f.id)" >
				Notifier mon entrée
			</a>
			</div>
			
			<div v-if="sender==4" class="col-md-2">
			<input type="text" v-model="info.code"   class="from-control">
			<a  class="btn btn-round btn-primary"   @click="sendComment(f.id)" >
				Valider
			</a>
			<a  class="btn btn-round btn-danger" @click="sender=0" >
				Annuler
			</a>
			</div>
			
			<div v-if="sender==2" class="col-md-2">
			<span  class="text-success" >
				Enregistrement effectué
			</span>
			</div>
		</div>
		</div>
   
	   
		</div>
		<br/>

       
     </div>
   </div>
   
 </div>
</template>

<script>
  import {message_lang} from '../../store/store';

  export default {
    data:function(){
      return {
       store_lang:message_lang,
        sender:Number,
        message_error:Number,
		info:{
        employe_id:Number,
        code:String,
        }
      }
    },
    props:{
      employes:Array,
    },
    mounted() {
         this.resetInputs();
         this.customer=0;
    },
    methods:
    {

    
      sendComment: function(id){
            this.employe_id=id;
            if(this.sender!=4){
			this.sender=4;
			}
			else{
				
				this.sender=1;
				axios.post('/presences', this.info).then((response) =>
				{
					this.resetInputs();
					this.sender=2;
				}).catch(e => {
					this.resetInputs();
					this.message_error=2;
				});
			}
      },
      resetInputs: function(){
        
        this.message_error=0;
        this.sender=0;
        this.info.employe_id=0;
        this.info.code='';

      }
    }

  }
</script>
