<template>
  <span>
    <div v-if="images.length == 1" >
        <img v-if="minified!==undefined && (minified>0 && minified<100)"  v-for="image in images" width="100%" :src="store_lang.state.http+'/download-mini-picture-'+minified+'/files/'+image.nompiece" >
        <img v-else  v-for="image in images" width="100%" :src="store_lang.state.http+'/download-picture/files/'+image.nompiece" >
    </div>
    <div v-if="images.length > 1" >
        <img v-if="minified!==undefined && (minified>0 && minified<100)"  v-for="image in images" width="100%" :src="store_lang.state.http+'/download-mini-picture-'+minified+'/files/'+image.nompiece" >
        <img v-else  v-for="image in images" width="100%" :src="store_lang.state.http+'/download-picture/files/'+image.nompiece" >
    </div>
  </span>
</template>

<script>
  import {message_lang} from '../../store/store';

  export default {
    data:function(){
      return {
       store_lang:message_lang,
      }
    },
    props:{
      images:Array,
      minified:Number
    },
    mounted() {
    }
  }
</script>
