<template>
  <span>
     <transition
       name="custom-classes-transition-loader"
       enter-active-class="animated fadeIn"
       leave-active-class="animated fadeOut"
     >
       <img :src="store_lang.state.http+'/assets/frontend/pictures/loader.gif'">
     </transition>
  </span>
</template>

<script>
  import {message_lang} from '../../store/store';

  export default {
    data:function(){
      return {
       store_lang:message_lang
      }
    },
    mounted() {

    }
  }
</script>
