<template>
  <span>
    <img  class="media-object animated fadeIn img-fill" width="100%" :src="store_lang.state.http+'/storage/app/public/files/empty.jpg'" >
  </span>
</template>

<script>
  import {message_lang} from '../../store/store';

  export default {
    data:function(){
      return {
       store_lang:message_lang,
      }
    },
    mounted() {

    }
  }
</script>
