<template>
  <span class="animated fadeIn" v-html="malang[textGroup][textName]" ></span>
</template>

<script>
  import {message_lang} from '../../store/store';

  export default {
    data: function () {
      return {malang:message_lang.state}
    },
    props:{
      textName:String,
      textGroup:String
    },

    mounted: function ()  {

    }
  }
</script>
