<template>
  <a :href="monHref" target="_blank"> <mon-text :textGroup="textGroup" :textName="textName"></mon-text> </a>
</template>

<script>
    export default {

        props:{
          textName:String,
          textGroup:String,
          monHref:String
        }
    }
</script>
