<template>
  <button :class="maClass" :type="monType"> <mon-text :textGroup="textGroup" :textName="textName"></mon-text> </button>
</template>

<script>
    export default {

        props:{
          textName:String,
          textGroup:String,
          monType:String,
          maClass:String
        }
    }
</script>
